body{
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

.block{
    width: 30%;
    padding-bottom: 30%;
    margin: 1.66%;
    float: left;
    background-color: pink;
    border-radius: 20%;
    transition: 0.6s;
    -webkit-trasition: background 0.6s;
    -moz-transition: background 0.6s;
}

#container{
    max-width: 600px;
    margin: 20px auto;
}

h1{
    text-align: center;
    color: white;
    background-color: steelblue;
    margin: 0;
    font-weight: normal;
    text-transform: uppercase;
    padding: 20px 0;
    line-height: 1.1;
}

#menu{
    background-color: white;
    height: 30px;
    text-align: center;
}

.selected{
    color: white;
    background-color: steelblue;
}

.hidden{
    display: none;
}

#winningColor{
    font-size: 150%;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    letter-spacing: 1px;
    font-size: inherit;
    transition: all 0.5s;
    -webkit-trasition: all 0.5s;
    -moz-transition: all 0.5s;
    outline: none;
}

#message{
    display: inline-block;
    width: 20%;
}

button:hover{
    color: white;
    background-color: steelblue;
}